@font-face {
  font-family: mnormal;
  src: url("assets/normal.woff2");
}
@font-face {
  font-family: mbold;
  src: url("assets/bold.woff2");
}
@font-face {
  font-family: mfluent;
  src: url("assets/fluent.woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-top: 72px;
  padding-left: 72px;
  padding-right: 72px; */
  text-align: center;
  font-family: mbold;
  font-size: 30px;
  padding-top: 10px;
}
#logo {
  display: flex;
  font: 15px;
  padding-top: 10px;
  font-size: 10px;
}

#toggle-menu img {
  display: flex;
  width: 30px;
  font-size: 20px;
  padding-top: 10px;

  justify-content: center;
  align-items: center;
}

#logo-container {
  display: flex;
  width: 20%;
  font-size: 15px;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

header:nth-child(3) {
  width: 20%;
}
#logo-container span {
  font-size: 15px;
  justify-content: space-between;
  padding-left: 15px;
  padding-top: 10px;
}

.search-image::after {
  /* display: flex */
  content: "";
  font-family: mfluent;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-bottom: 10px;
  padding: top 10px;
}

.profile-section {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.profile-section h2 {
  display: flex;
  margin-top: 0;
  font-size: 12px;
  font-family: mnormal;
  font-weight: 100;
}

/* @media screen and (max-width: 768px) {
  nav {
    float: none;
    width: 100%;
  }
  nav a {
    display: block;
  }
}
nav {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
ul {
  margin-bottom: 50px;
  padding-top: 10px;
  height: 20px; */

/* ul a {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  font-family: mnormal;
  padding-top: 10px;
}
ul .arrow-expand::after {
  content: "";
  font-family: mfluent;
  font-size: 10px;
  align-items: flex-start;
  margin-right: 10px;
  padding-top: 10px;
}
.profile-section {
  padding-top: 10px;
  padding-right: 12px;
  font-weight: 100px;
}

ul .arrow-expand {
  justify-content: center;
  align-items: center;
  padding-right: 12px;
}
#options {
  @media screen and(max-width:775px) {
    p {
      display: flex;
    }
  }
  
#options h2 {
  font-size: 12px;
  font-family: mnormal;
  font-weight: 200;
  padding-top: 20px;
}

#options p {
  padding-right: 50px;
  
} */

#options h2 {
  justify-content: center;
  font-size: 15px;
  font-family: mnormal;
  font-weight: 300;
}
#logo-container span {
  font-size: 22px;
  font-weight: 400;
  align-items: center;
}
#logo img {
  height: 60px;
  width: 60px;
  padding-left: 25px;
}

#options p {
  padding-right: 100px;
  padding-top: 20px;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner {
  height: 210.41px;
  width: 375px;
}

.profile-section p {
  font-size: 15px;
  font-weight: 200;
  font-family: mnormal;
  padding-bottom: 10px;
}
.description p {
  font-size: 30px;
  font-family: mnormal;
  font-weight: 800;
  color: #142034;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
  letter-spacing: -0.46px;
  line-height: 40px;
  text-align: left;
}
/* .section p {
  font-size: 30px;
  font-family: mnormal;
  font-weight: 800;
  color: #142034;
  padding-left: 10px;
} */

/* .section section {
  font-size: 30px;
  font-family: mnormal;
  font-weight: 800;
  color: #142034;
  padding-left: 10px; 
} */
.hero {
  background: linear-gradient(90deg, #ede8f6 0%, #f4fafd 49.99%, #dceef8 100%);
}
.details {
  font-size: 18px;
  font-family: mnormal;
  font-weight: 400;
  display: block;
  color: #142034;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 30px;
  text-align: left;
  line-height: 28px;
  letter-spacing: -0.54px;
}
.details button {
  justify-content: center;
  font-size: 15px;
  width: 100%;
  height: 100%;
  background-color: #0078d4;
  color: white;
  border: #0078d4;
  border-radius: 6px;
  align-items: center;
  margin-top: 40px;
}
