@font-face {
  font-family: mnormal;
  src: url("assets/normal.woff2");
}
@font-face {
  font-family: mbold;
  src: url("assets/bold.woff2");
}
@font-face {
  font-family: mfluent;
  src: url("assets/fluent.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}
.toggle-menu {
  column-gap: 10px;
  margin-right: 20px;
  margin-left: 25px;
}
.toggle-menu img {
  height: 20px;
  width: 20px;
}
.toggle-menu span {
  color: #1a1a1f;
  font-family: mnormal;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 44px;
  padding-left: 6px;
}
.logo img {
  width: 32px;
  margin-left: 24px;
  margin-right: 2px;
}
.right-nav {
  align-items: center;
  column-gap: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.right-nav span::after {
  content: "";
  font-family: mfluent;
  font-size: 18px;
  margin-right: 12px;
  margin-right: 5px;
  margin-top: 12px;
}
.foo span {
  margin-top: 10px;
}
.right-nav p {
  font-family: mnormal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.48px;
  margin-top: 4px;
  margin-right: 13px;
  margin-bottom: 10px;
}

.banner img {
  width: 100%;
  height: 100%;
}
.banner {
  height: 56vw;
}
.main {
  background: linear-gradient(90deg, #ede8f6 0%, #f4fafd 49.99%, #dceef8 100%);
}
.description p {
  display: block;
  font-size: 32px;
  font-family: mbold;
  font-weight: 800;
  color: rgb(23, 37, 61);

  padding-top: 30px;
  padding-right: 40px;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
  letter-spacing: -1.6px;
  line-height: 40px;
  text-size-adjust: 100%;
  text-align: left;
}
.details {
  font-size: 18px;
  font-family: mnormal;
  font-weight: 400;
  display: block;
  color: #142034;
  box-sizing: border-box;
  margin-top: 12px;
  padding-left: 15px;
  padding-right: 30px;
  text-align: left;
  line-height: 28px;
  letter-spacing: -0.54px;
  text-size-adjust: 100%;
}
.button-1 {
  display: block;
  border: 1px solid #0078d4;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #0078d4;
  color: #ffffff;
  height: 48px;
  width: 343px;
  margin-inline: auto;
  margin-top: 25px;
}
.button-1 h1 {
  font-size: 15px;
  font-family: mbold;
  font-weight: 400;
  height: 50px;
  letter-spacing: -0.54px;
  line-height: 28px;
  text-align: center;
  padding-top: 10px;
}
.button-2 {
  border: 2px solid #234a5e;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: transparent;
  color: #234a5e;
  height: 48px;
  width: 343px;
  margin-inline: auto;
  margin-top: 8px;
}
.button-2 h1 {
  font-size: 15px;
  font-family: mbold;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 22px;
  text-align: center;
  padding-top: 10px;
}
.featured-news {
  border: 1px solid white;
  box-sizing: border-box;
  background-color: white;
  height: 60px;
  margin-top: 100px;
  margin-bottom: 10pxyuiy ;
}
.featured-news p {
  font-size: 16px;
  color: #2a446f;
  font-size: 12px;
  font-family: mnormal;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 16px;
}

/* .features h1 {
  font-size: 12px;
  font-family: mnormal;
  font-weight: 100;
  color: #243a5e;
  margin-top: 30px;
}
.features span::after {
  content: "";
  font-family: mfluent;
  font-size: 16px;
  font-weight: 400;
  color: rgb(60, 61, 61);
  letter-spacing: -0.48px;
  line-height: 16px;
  padding-left: 310px;
  padding-bottom: 20px;
}
.featured-news img {
  height: 100%;
  width: 100%;
}  */
