@font-face {
  font-family: mbold;
  src: url(./assets/TTNorms-Bold.woff2);
}
@font-face {
  font-family: mmedium;
  src: url(./assets/TTNorms-Medium.woff2);
}
@font-face {
  font-family: mregular;
  src: url(./assets/TTNorms-Regular.woff2);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.banner {
  position: relative;
  height: 551px;
}
.hero-banner {
  position: absolute;
  width: 100%;
  height: 549px;
  z-index: -1;
}
.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-2 img {
  display: none;
}
.main-section {
  padding: 0px 8px;
}
.sign-buttons {
  display: flex;
  justify-content: end;
  column-gap: 8px;
  transform: translate(-17px, 16px);
}
.sign-in {
  width: 71.03px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 42px;
  background: #eb1700;
  transform: translateX(1px);
}
.sign-in p {
  font-size: 16px;
  font-family: mbold;
  display: flex;
  justify-content: center;
  transform: translateY(3px);
  text-align: center;
  color: #fff;
  margin-top: 2px;
  letter-spacing: -0.454401px;
}
.sign-up {
  width: 79.75px;
  height: 32px;
  border: 1px solid transparent;
  border-radius: 42px;
  background: #ffff;
  text-align: center;
  transform: translateX(1px);
}
.sign-up p {
  font-size: 16px;
  font-family: mbold;
  font-weight: 700;
  color: #494949;
  margin-top: 2px;
  letter-spacing: -0.454401px;
  display: flex;
  justify-content: center;
  transform: translateY(3px);
}
.doordash-logo {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  transform: translateY(146px);
}
.doordash-txt img {
  transform: translateY(3px);
}
.bottom {
  transform: translateY(161px);
}
.discover h2 {
  color: #fff;
  font-size: 22px;
  font-family: mbold;
  text-align: center;
  line-height: 28px;
}
.deliver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 324px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 31px;
  background: #fff;
  padding-left: 16px;
  padding-right: 4px;
  transform: translate(18px, 24px);
}
.search img {
  margin-left: -1px;
  margin-top: 5px;
}
.location img {
  display: none;
}
.deliver p {
  font-size: 16px;
  font-family: mmedium;
  color: #615c5c;
  transform: translate(-32px, -1px);
  margin-left: 16px;
}
.right-arw {
  margin-right: 7px;
  margin-top: 5px;
  transform: translateX(30px);
}
.profile {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  margin-top: 40px;
  text-align: center;
  width: 88.98px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 39px;
  background: #fff;
  transform: translateX(135px);
  box-shadow: transparent 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 2px 8px;
}
.profile img {
  height: 16px;
  width: 16px;
  transform: translateY(7px);
}
.profile p {
  font-size: 14px;
  font-family: mbold;
  transform: translateY(7px);
}
.profile span {
  display: none;
}

.download-section {
  display: flex;
  column-gap: 8px;
  padding: 20px;
  width: 335px;
  height: 147px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 334px;
  border: 1px solid #f7f7f7;
  border-radius: 15px;
  background: #f7f7f7;
  box-shadow: 0px 0px 3px #ccc;
}
.orng-logo {
  width: 60px;
  height: 60px;
  border: 1px solid #f0eeee;
  background: #fff;
  border-radius: 14px;
  margin-top: -1px;
}
.orng-logo img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.playstore {
  line-height: 23px;
  margin-top: -4px;
}
.playstore h2 {
  font-size: 18px;
  font-family: mbold;
  letter-spacing: -0.511197px;
  margin-bottom: 4px;
  margin-top: -3px;
}
.playstore h3 {
  font-size: 14px;
  font-family: mmedium;
  font-weight: 500;
  color: rgb(118, 118, 118);
}
.dwnld-btn {
  display: flex;
  column-gap: 4px;
  border: 1px solid #eb1700;
  background: #eb1700;
  border-radius: 24px;
  width: 124.23px;
  height: 32px;
  margin-top: 8px;
}
.dwnld-btn p {
  font-size: 14px;
  font-family: mbold;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.dwnld-btn img {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  transform: translateY(7px);
}
.section-1 {
  margin: 40px 0px;
  padding: 8px;
  height: 710px;
  display: flex;
  flex-direction: column;
}
.become {
  display: flex;
  column-gap: 31px;
  padding: 16px;
}
.left-image img {
  width: 88px;
  height: 88px;
}
.right-txt h2 {
  font-size: 32px;
  font-family: mbold;
  line-height: 40px;
  letter-spacing: -0.04ch;
}
.right-txt h3 {
  font-size: 18px;
  font-family: mmedium;
  font-weight: 500;
  line-height: 24px;
}
.right-bottom {
  display: flex;
  column-gap: 4px;
  margin: 12px 0px 0px;
}
.right-bottom {
  font-size: 14px;
  font-family: mbold;
  color: #eb1700;
  letter-spacing: -0.397598px;
}
.right-bottom img {
  width: 16px;
  height: 11px;
  margin-top: 3px;
}
.restaurant-section {
  position: relative;
  height: 890px;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 731px;
  background-color: #fef1ee;
  z-index: -1;
}
.restaurant-dashpass {
  padding: 20px;
}
.restaurant-img {
  width: 100%;
  height: 180px;
}
.restaurant-dashpass img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant-img-tab {
  display: none;
}
.restaurant-section-txt h2 {
  font-size: 24px;
  font-family: mbold;
  letter-spacing: -0.170399px;
  line-height: 32px;
  font-weight: 700;
  margin: 20px 0px 0px;
}
.restaurant-section h4 {
  font-size: 18px;
  font-family: mbold;
  line-height: 22px;
  margin-top: 10px;
}
.restaurant-section p {
  font-size: 14px;
  font-family: mmedium;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}
.button {
  width: fit-content;
  padding: 2px 15px;
  height: 32px;
  border: 1px solid #eb1700;
  background: #eb1700;
  border-radius: 15px;
  margin: 20px 0px 0px;
}
.button p {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  font-family: mbold;
}
.grocery-page {
  position: relative;
  height: 350px;
}
.grocery-bg {
  position: absolute;
  width: 100%;
  height: 350px;
  z-index: 0;
}
.grocery-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  z-index: 1;
}
.grocery {
  margin-left: auto;
  margin-left: auto;
}
.grocery-txt {
  position: absolute;
  z-index: 2;
  margin: 66px 0px;
}
.grocery-txt h2 {
  font-size: 24px;
  font-weight: 700;
  font-size: 24px;
  font-weight: 700;
  font-family: mbold;
  letter-spacing: -0.170399px;
  line-height: 32px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}
.grocery-txt h3 {
  font-size: 18px;
  font-family: mbold;
  font-weight: 22px;
  line-height: 22px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}
.grocery-txt p {
  font-size: 14px;
  font-family: mmedium;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.grocery {
  margin-left: auto;
  margin-right: auto;
}
.grocery-txt p {
  font-size: 14px;
  font-family: mbold;
  transform: translateY(-7px);
}
.convenience-store {
  padding: 20px;
}
.convenience-store img {
  height: 100%;
  width: 100%;
}
.convenience-img {
  height: 100%;
  width: 100%;
}
.convenience-img-tab {
  display: none;
}
.convenience-txt h2 {
  font-size: 24px;
  font-family: mbold;
  letter-spacing: -0.170399px;
  line-height: 32px;
  margin-top: 20px;
}
.convenience-txt p {
  font-size: 14px;
  font-family: mmedium;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}
.scroll-page {
  background: #fef1ee;
}
.scroll-page h2 {
  padding: 40px 20px 20px;
  max-width: 304px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-family: mbold;
  letter-spacing: -0.170399px;
  line-height: 32px;
}
.scrolling-elements {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.units {
  flex-shrink: 0;
  padding: 20px;
  width: 331px;
  margin: 0px -37.5px 0px 18.75px;
}
.scroll-img {
  width: 100%;
  height: 180px;
}
.scroll-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scroll-text h2 {
  font-size: 24px;
  font-family: mbold;
  font-weight: 700;
  letter-spacing: -0.170399px;
  line-height: 32px;
  margin-top: -13px;
}
.scroll-text h4 {
  font-size: 14px;
  font-family: mmedium;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  margin-top: -6px;
}
.scroll-text h3 {
  font-size: 12px;
  font-family: mmedium;
  font-weight: 500;
  letter-spacing: 0.0852007;
  margin-top: 10px;
  text-align: center;
}

.scroll {
  margin-left: auto;
  margin-right: auto;
}
.alcohol-desktop img {
  display: none;
}
.pet-desktop {
  display: none;
}
.flowers-desktop {
  display: none;
}
.business-section {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 731px;
  bottom: 0;
  z-index: -1;
  background: #fef1ee;
}
.business-section h2 {
  font: size 24px;
  font-family: mbold;
  font-weight: 700;
  letter-spacing: -0.170399px;
  line-height: 32px;
  text-align: center;
  padding: 40px 20px 20px;
}
.item {
  padding: 20px;
}
.item-img {
  width: 100%;
  height: 180px;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-img2 {
  display: none;
}
.item-text h2 {
  font-size: 24px;
  font-family: mbold;
  letter-spacing: -0.170399px;
  line-height: 32px;
  margin: 20px 0px 0px;
  padding: 0px 0px;
  max-width: 90%;
  text-align: start;
}
.item h3 {
  font-size: 14px;
  font-family: mmedium;
  line-height: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.foot-elements {
  background: #222;
  padding: 0px 20px;
}
.foot-item {
  display: flex;
  column-gap: 12px;
  justify-content: space-around;
}
.foot-section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 32px 0px;
}
.foot-section h2 {
  font-size: 16px;
  font-weight: 500;
  font-family: mmedium;
  line-height: 22px;
  color: #fff;
  margin: 0px 0px 8px;
  text-align: center;
}
.foot-section p {
  font-size: 14px;
  font-family: mmedium;
  font-weight: 500;
  line-height: 33px;
  color: rgb(196, 196, 196);
  text-align: center;
}
.footer-download {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 32px 0px 0px;
}
.from-appstore {
  border: 1px;
  width: 160px;
  height: 52px;
  border-radius: 8px;
  background: rgb(73, 73, 73);
}
.from-playstore {
  border: 1px solid #494949;
  width: 160px;
  height: 52px;
  border-radius: 8px;
  background: rgb(73, 73, 73);
  display: flex;
}
.get-know {
  text-align: center;
}
.help-you {
  text-align: center;
  padding: 32px 0px 0px;
}
.doing-business {
  text-align: center;
  padding: 32px 0px 0px;
}
.footer-bottom {
  padding: 32px 0px;
}
.social-media {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.language-bar {
  position: relative;
  padding: 12px;
  display: flex;
  justify-content: center;
}
.lang-img-txt {
  width: 150px;
  height: 32px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 15px;
  display: flex;
  padding: 4px 12px;
}
.language-select {
  display: flex;
  column-gap: 7px;
  justify-content: center;
  align-items: center;
}
.language-select img {
  width: 24px;
  height: 24px;
}
.language-select p {
  font-family: mmedium;
  font-size: 14px;
}
.list-arrow {
  position: relative;
  right: 34px;
  top: 3px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.footer-list {
  margin: 12px 0px 0px;
}
.list1 {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}
.footer-list p {
  color: #c4c4c4;
  font-size: 12px;
  font-family: mmedium;
}
.list2 {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}
.list2 p {
  font-size: 12px;
  font-family: mmedium;
  font-weight: 400;
  line-height: 18px;
  color: rgb(196, 196, 196);
}
.list-2-mobile {
  display: none;
}
.list-3-mobile {
  display: none;
}
.footer-list-tab {
  display: none;
}

/* RESPONSIVE ON MOLILE(L) SCREEN*/

@media screen and (min-width: 425px) {
  .hero-banner {
    height: 550px;
  }

  .discover h2 {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom {
    transform: translateY(161px);
  }

  .deliver {
    margin-left: auto;
    margin-right: auto;
    transform: translate(0px, 24px);
  }

  .deliver p {
    transform: translate(-32px, -1px);
  }

  .location img {
    display: none;
  }

  .profile {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0px);
  }

  .download-section {
    width: 358px;
    height: 146px;
  }

  .orng-logo {
    margin-left: -1px;
  }

  .dwnld-btn {
    margin-top: 7px;
  }

  .dwnld-btn p {
    margin-left: 11px;
  }

  .right-txt h2 {
    margin-right: 10px;
  }

  .right-txt h3 {
    margin-right: 8px;
    font-weight: 400;
  }

  .become {
    transform: translate(4px, 1px);
  }

  .restaurant-section {
    height: 852px;
  }

  .restaurant-section-txt h2 {
    margin-right: 34px;
  }

  .restaurant-img-tab {
    display: none;
  }

  .grocery-text h2 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .unit {
    width: 383px;
  }

  .foot-section {
    padding: 32px 0px 0px;
  }

  .social-media {
    column-gap: 13px;
  }

  .list-arrow {
    right: 124px;
  }

  .lang-img-txt {
    margin-left: auto;
    margin-right: auto;
  }

  .list2 {
    display: none;
  }

  .list-2-mobile {
    display: flex;
    column-gap: 16px;
    justify-content: center;
  }

  .list-3-mobile {
    display: flex;
    justify-content: center;
    margin-top: 4px;
  }

  .convenient-img-tab {
    display: none;
  }

  .footer-list-tab {
    display: none;
  }

  .sign-in-profile span {
    display: none;
  }

  .alcohol-desktop img {
    display: none;
  }

  .pet-supply-img {
    display: none;
  }

  .desktop-banner img {
    display: none;
  }
}

/* TABLET RESPONSIVE */

@media screen and (min-width: 768px) {
  .banner {
    height: 650px;
  }

  .hero-banner {
    height: 650px;
  }

  .doordash-logo {
    transform: translateY(-16px);
  }

  .sign-buttons {
    transform: translateY(6px);
    font-size: 18px;
  }

  .sign-in {
    width: 78.03px;
    height: 40px;
  }

  .sign-up {
    width: 86.48px;
    height: 40px;
  }

  .button {
    transform: translateY(203px);
    max-width: 408px;
    margin-left: auto;
    margin-right: auto;
  }

  .deliver {
    width: 408px;
    height: 56px;
    justify-content: start;
    column-gap: 34px;
  }

  .search-btn img {
    display: none;
  }

  .location img {
    display: flex;
    transform: translateX(-31px);
  }

  .deliver p {
    transform: translate(-69px, -1px);
  }

  .right-arw {
    margin-right: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: end;
    transform: translateX(48px);
  }

  .download-section {
    display: none;
  }

  .section-1 {
    height: 593px;
    margin: 37px 0px 40px;
    transform: translateY(-6px);
  }

  .become {
    max-width: 485px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 69px;
  }

  .left-img {
    transform: translateX(3px);
  }

  .left-image img {
    width: 124px;
    height: 124px;
  }

  .right-txt {
    transform: translateX(-2px);
  }

  .right-bottom {
    margin: 14px 0px 0px;
  }

  .restaurant-section {
    height: 1093px;
  }

  .overlay {
    height: 605px;
  }

  .restaurant-dashpass {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 60px;
  }

  .next {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    padding: 25px 20px 20px;
  }

  .restaurant-img img {
    display: none;
  }

  .restaurant-img-tab {
    display: block;
    width: 100%;
    height: 500px;
  }

  .restaurant-img-tab img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .restaurant-section-txt {
    transform: translateY(97px);
  }

  .restaurant-section-txt h2 {
    font-size: 40px;
    letter-spacing: -0.568px;
    line-height: 44px;
  }

  .restaurant-section-txt h4 {
    margin: 20px 0px;
    font-size: 24px;
  }

  .restaurant-section-txt p {
    font-size: 16px;
  }

  .button {
    margin: 32px 0px 0px;
  }

  .grocery-bg {
    height: 600px;
  }

  .overlay2 {
    height: 600px;
  }

  .grocery-text {
    margin: 136px 0px;
    align-content: center;
    max-width: 550px;
    left: 50%;
    transform: translateX(-50%);
  }

  .grocery-txt h2 {
    font-size: 40px;
    letter-spacing: -0.568px;
    line-height: 44px;
  }

  .grocery-txt h3 {
    font-size: 24px;
    margin-top: 20px;
    white-space: nowrap;
  }

  .grocery-txt p {
    font-size: 16px;
  }

  .grocery {
    max-width: 183.83px;
    margin-left: auto;
    margin-right: auto;
  }

  .convenience-store {
    padding-top: 300px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 60px;
    height: 781px;
  }

  .convenience-img {
    display: none;
  }

  .convenience-img-tab {
    display: block;
    height: 500px;
    width: 72%;
  }

  .convenience-img-tab img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .convenience-text {
    max-width: 317.88px;
    transform: translateY(100px);
  }

  .convenience-text h2 {
    font-size: 40px;
    letter-spacing: -0.568px;
    line-height: 44px;
  }

  .convenience-text p {
    font-size: 16px;
  }

  .convenience {
    width: 100.41px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
  }

  .scroll-page h2 {
    padding: 60px 20px 40px;
    max-width: 500px;
    font-size: 40px;
    letter-spacing: -0.568px;
    line-height: 44px;
  }

  .scrolling-ele {
    flex-wrap: wrap;
  }

  .unit {
    margin: 0px;
  }

  .scroll-img {
    height: 344px;
  }

  .scroll-text h2 {
    padding: 0px 0px;
    margin-top: 20px;
  }

  .scroll-text h4 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
  }

  .scroll {
    height: 40px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(112px);
  }

  .business-section h2 {
    padding: 60px 20px 40px;
    font-size: 40px;
    letter-spacing: -0.568px;
    line-height: 44px;
    max-width: 524px;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 60px;
  }

  .item-2 {
    display: flex;
    flex-direction: row;
  }

  .item-img {
    display: none;
  }

  .item-img2 {
    display: block;
    width: 100%;
    height: 500px;
  }

  .item-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay3 {
    height: 596px;
  }

  .item-text {
    transform: translateY(125px);
  }

  .item-text h2 {
    padding: 0px 0px;
  }

  .item h3 {
    margin-top: 20px;
  }

  .foot-section {
    padding: 32px 0px;
  }

  .foot-item {
    display: flex;
    flex-direction: column;
  }

  .cities {
    display: flex;
    flex-direction: row;
    column-gap: 128px;
  }

  .cities h2 {
    white-space: nowrap;
  }

  .cities p {
    transform: translate(-200px, 32px);
    white-space: nowrap;
    text-align: start;
  }

  .cuisine {
    display: flex;
    flex-direction: row;
    column-gap: 171px;
  }

  .cuisine p {
    text-align: start;
  }

  .popular {
    display: flex;
    flex-direction: row;
    column-gap: 171px;
    white-space: nowrap;
    text-align: start;
  }

  .footer-download {
    padding: 0px 0px;
  }

  .foot-section {
    display: flex;
    flex-direction: row;
  }

  .foot-section h2,
  .foot-section p {
    text-align: start;
    white-space: nowrap;
  }

  .popular {
    column-gap: 58px;
  }

  .get-let {
    padding: 32px 0px;
    column-gap: 171px;
  }

  .get-know {
    transform: translateY(35px);
  }

  .footer-bottom {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 7px;
  }

  .list-arrow {
    right: 32px;
  }

  .list1,
  .list2,
  .list-2-mobile,
  .list-3-mobile {
    display: none;
  }

  .footer-list-tab {
    display: flex;
    flex-direction: column;
  }

  .footer-list-tab {
    font-family: norms-regular;
  }

  .list1-tab {
    display: flex;
    column-gap: 9px;
  }

  .list2-tab {
    display: flex;
    column-gap: 15px;
    text-align: start;
  }

  .social-media {
    padding-top: 10px;
  }

  .sign-in-profile span {
    display: none;
  }

  .alcohol-desktop img {
    display: none;
  }

  .pet-supply-desktop img {
    display: none;
  }

  .desktop-banner img {
    display: none;
  }
}

/* RESPONSIVE ON LAPTOP */

@media screen and (min-width: 1024px) {
  .doordash-logo {
    column-gap: 12px;
  }

  .doordash-image img {
    height: 24px;
  }

  .doordash-txt img {
    height: 18px;
    transform: translateY(3px);
  }

  .bottom {
    transform: translateY(214px);
  }

  .bottom h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    white-space: nowrap;
    letter-spacing: -0.568px;
  }

  .deliver {
    margin-top: 8px;
  }

  .sign-in-profile p {
    display: none;
  }

  .profile {
    width: 203.75px;
    height: 32px;
    white-space: nowrap;
  }

  .profile span {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: norms-bold;
  }

  .section-1 {
    margin: 39px 0px 104px;
    padding: 0px 8px 8px;
    row-gap: 10px;
    transform: translateY(0px);
  }

  .become {
    max-width: 486px;
    column-gap: 72px;
  }

  .left-image img {
    transform: translateX(1px);
  }

  .right-txt {
    transform: translateX(-4px);
  }

  .right-bottom {
    margin: 14px 0px 0px;
  }

  .restaurant-section-txt h2 {
    max-width: 360px;
  }

  .grocery-txt {
    transform: translateX(-50%);
    left: 50%;
  }

  .mobile img {
    display: none;
  }

  .alcohol-desktop img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .alcohol-desktop {
    width: 472px;
    height: 472px;
  }

  .pet-desktop img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .pet-desktop {
    width: 472px;
    height: 472px;
  }

  .scrolling-elements {
    column-gap: 137px;
  }

  .scroll-img {
    height: 472px;
    width: 472px;
  }

  .scroll-text {
    transform: translateX(57px);
  }

  .scroll-text h2 {
    margin-right: -43px;
  }

  .foot-item {
    display: flex;
    flex-direction: row;
  }

  .cities {
    column-gap: 51px;
  }

  .cities p {
    transform: translate(-118px, 32px);
  }

  .cuisine {
    column-gap: 73px;
    transform: translateX(-79px);
  }

  .cuisine .block1 {
    transform: translateY(-30px);
  }

  .popular {
    column-gap: 121px;
  }

  .popular .block1 {
    transform: translate(-30px);
  }

  .footer-download {
    align-items: end;
  }

  .get-let {
    column-gap: 49px;
    margin-top: -178px;
  }

  .footer-bottom {
    column-gap: 0;
  }

  .footer-list-tab {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    white-space: nowrap;
  }

  .list1-tab {
    column-gap: 22px;
  }

  .list1-tab img {
    transform: translate(10px, -13px);
  }

  .list2-tab {
    column-gap: 0;
    display: flex;
    flex-wrap: wrap;
    line-height: 22px;
  }

  .desktop-banner img {
    display: none;
  }
}

/* RESPONSIVE ON DESKTOP L*/

@media screen and (min-width: 1440px) {
  .main-banner-bg img {
    display: none;
  }

  .desktop-banner {
    width: 100%;
    height: 100%;
  }

  .desktop-banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .arrow-right {
    display: none;
  }

  .arrow-right-white {
    display: flex;
    border: 1px solid #eb1700;
    border-radius: 25px;
    background: #eb1700;
    padding: 9px;
    transform: translateX(40px);
  }

  .arrow-right-white img {
    height: 20px;
  }

  .first-section {
    display: flex;
    flex-direction: row;
    max-width: 1182px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 96px;
    margin-top: 108px;
    column-gap: 54px;
    height: 450px;
    transform: translateX(-52px);
  }

  .dasher-partner-experience {
    display: flex;
    flex-direction: column;
    margin: 0px 17px;
  }

  .left-img {
    display: flex;
    justify-content: center;
  }

  .left-img img {
    width: 154px;
    height: 154px;
  }

  .partner {
    transform: translateX(-26px);
  }

  .partner img {
    transform: translateX(5px);
  }

  .exp {
    transform: translateX(-14px);
  }

  .exp img {
    transform: translateX(5px);
  }

  .right-text {
    transform: translateX(6px);
  }

  .right-text h2 {
    text-align: center;
  }

  .right-text h3 {
    text-align: center;
    margin-top: 8px;
    transform: translateX(-1px);
  }

  .dasher-txt {
    transform: translate(2px, -1px);
  }
  .dasher-txt h3 {
    margin-right: 87px;
    transform: translateX(39px);
  }

  .partner-txt h2 {
    margin-right: 29px;
    transform: translateX(9px);
  }

  .right-bottom {
    display: flex;
    justify-content: center;
  }

  .right-bottom p {
    font-size: 18px;
  }

  .resto-dashpass {
    max-width: 1155.02px;
    margin-left: auto;
    margin-right: auto;
  }

  .grocery-text {
    max-width: 550px;
    transform: translateX(-50%);
    left: 50%;
  }

  .convenience-store {
    max-width: 1155.02px;
    margin-left: auto;
    margin-right: auto;
  }

  .convenience-text {
    max-width: 399.53px;
  }

  .scrolling-elements {
    column-gap: 202px;
    flex-wrap: wrap;
    display: flex;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
  }

  .scroll-img {
    width: 552px;
    height: 552px;
  }

  .alcohol-desktop {
    width: 552px;
    height: 552px;
  }

  .pet-desktop {
    width: 552px;
    height: 552px;
  }

  .scroll-text h4 {
    margin-right: -217px;
    transform: translateX(-76px);
  }

  .item {
    max-width: 1155.02px;
    margin-left: auto;
    margin-right: auto;
  }

  .cities {
    column-gap: 156px;
  }

  .cities h2 {
    transform: translateX(110px);
  }

  .foot-section {
  }

  .cuisine .block1 {
    transform: translateY(-32px);
  }

  .foot-section {
    justify-content: center;
  }

  .popular {
    column-gap: 186px;
  }

  .get-let {
    transform: translateX(-257px);
    column-gap: 86px;
  }

  .footer-download {
    transform: translateX(-178px);
  }

  .footer-bottom {
    justify-content: center;
    column-gap: 9px;
  }

  .foot-item {
    justify-content: center;
    column-gap: 100px;
  }

  .list2-tab {
    column-gap: 28px;
  }
}

/* RESPONSIVE ON 2560PX */
@media screen and (min-width: 2560px) {
  .footer-download {
    transform: translateX(-550px);
  }
}
