@font-face {
    font-family: mmedium;
    src: url('fonds/text-medium\ .woff2');
}

@font-face {
    font-family: mregular;
    src: url('fonds/text-regular.woff2');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33.355px 40.5025px 0px 38.12px;
}

.logo img {
    height: 52.41px;
    width: 52.41px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 13px;
}

.button span {
    font-family: mmedium;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    transform: translateY(10px);
}

.button {
    border: 0px solid;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 12.45px;
    width: 87.94px;
    height: 41.5px;
}

.toggy img {
    height: 52.39px;
    width: 52.39px;
    padding: 2.3825px;
    margin: -2.3825px;
}


main {
    display: flex;
    align-items: center;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 1043px;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 1017.5px;
}


.images {
    height: 59.56px;
    width: 59.56px;
}

.div1 {
    background: url("assets/games_new_v2.2.png");
    background-size: cover;
}

.div2 {
    background: url(./assets/images0.2.png);
    background-size: cover;
}

.div3 {
    background: url(./assets/video0.2.png);
    background-size: cover;
}

.div4 {
    background: url("./assets/meteum_v2.2.png");
    background-size: cover;
}

.div5 {
    background: url(./assets/maps2.2.png);
    background-size: cover;
}

.div6 {
    background: url(./assets/mail_1.2.png);
    background-size: cover;
}

.div7 {
    background: url(./assets/translate_new.2.png);
    background-size: cover;
}


.images img {
    height: 59.56px;
    width: 59.56px;
    object-fit: cover;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: calc(100%/7);
}

.icon span {
    font-family: mregular;
    font-size: 17.8688px;
}

.search input {
    display: flex;
    justify-content: center;
    color: rgba(42, 41, 41, 0.45);
    border: 2px solid rgb(255, 204, 0);
    border-radius: 16px;
    box-sizing: border-box;
    font-size: px;
    height: 62.7px;
    padding: 1rem;
    width: 1001.61px;
}

.search input::placeholder {
    color: rgba(133, 129, 129, 0.45);
}

.search {
    display: flex;
    justify-content: center;
    transform: translate(0px, 3px);

}


.weather {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    transform: translateY(-23px);
}

.cloud {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6.5px;
}


.cloud span {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    font-family: mmedium;
    letter-spacing: 0.75px;

}

.location span {
    font-size: 14.525px;
    font-weight: 400;
    font-family: mregular;
    color: #00000073;
}