@font-face {
  font-family: mmedium;
  src: url(./assets/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}
@font-face {
  font-family: mbook;
  src: url(./assets/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}
@font-face {
  font-family: mbold;
  src: url(./assets/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}

.container-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border: 2px solid rgb(0, 0, 0, 0);
  background-color: transparent;
  border-radius: 34px;
  box-sizing: content-box;
  padding: 0px, 24px;
  width: 271px;
  height: 58px;
}
.anywhere {
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  color: #222222;
}
.anyweek {
  font-size: 12px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  color: #717171;
}
.addguests {
  font-size: 12px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  color: #717171;
}
