@font-face {
  font-family: "circular-book";
  src: url("./assets/Circular-Book");
}

@font-face {
  font-family: "circular-bold";
  src: url("./assets/Circular-Bold");
}

@font-face {
  font-family: "circular-bold2";
  src: url("./assets/Circular-bold2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(18, 18, 18);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0px 16px;
}

.spotify-logo {
  transform: translateY(2px);
}

.header-right {
  display: flex;
  column-gap: 13px;
}

.search {
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

.top-button {
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
  width: 114.88px;
  height: 34px;
  transform: translateX(-3px);
}

.top-button p {
  display: flex;
  justify-content: center;
  padding: 8px 0px;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: circular-bold;
}

.menu {
  display: flex;
  align-items: center;
}

.body-section {
  padding: 0px 0px 16px 16px;
  margin-top: 24px;
}

.body-section span {
  font-size: 18px;
  font-family: circular-bold2;
  color: #fff;
  font-weight: 700;
}

.scroll-ele {
  display: flex;
  overflow: scroll;
  margin-top: 20px;
  column-gap: 16px;
}

.scroll-ele::-webkit-scrollbar {
  display: none;
}

.category {
  max-width: 168px;
}

.category img {
  width: 152px;
  height: 152px;
  border-radius: 6px;
}

.category p {
  font-size: 16px;
  font-weight: 400;
  font-family: circular-book;
  color: #fff;
  margin-top: 3px;
}

.all-out {
  padding-right: 16px;
}

.body-left {
  display: none;
}

.body-right-top {
  display: none;
}

.playlist-and-all p {
  display: none;
}

.category span {
  display: none;
}

.footer-section {
  display: none;
}

/* RESPONSIVE ON TABLET */

@media screen and (min-width: 768px) {
  .body-section span {
    font-size: 24px;
  }

  .body-left {
    display: none;
  }

  .body-right-top {
    display: none;
  }

  .playlist-and-all p {
    display: none;
  }

  .category span {
    display: none;
  }

  .footer-section {
    display: none;
  }
}

/* RESPONSIVE ON DESKTOP */

@media screen and (min-width: 1024px) {
  body {
    height: 100vh;
  }

  .header-section {
    display: none;
  }

  .body-section {
    display: flex;
    flex-direction: row;
    padding: 8px;
    column-gap: 8px;
    margin-top: 0px;
    height: 91.35%;
  }

  .body-left {
    display: flex;
    flex-direction: column;
    width: 420px;
  }

  .left-top {
    background: #1a1a1a;
    border-radius: 6px;
    margin-bottom: 7px;
    padding: 3px;
  }

  .logo2 {
    margin: 17px 0px 0px;
    padding: 0px 21px;
  }

  .home-and-search {
    display: flex;
    flex-direction: column;
    padding: 15px 21px;
    row-gap: 24px;
  }

  .home {
    display: flex;
    column-gap: 20px;
  }

  .home p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: circular-bold;
  }

  .left-search {
    display: flex;
    column-gap: 20px;
  }

  .left-search p {
    font-size: 16px;
    font-family: circular-bold;
    display: flex;
    align-items: center;
    color: rgb(179, 179, 179);
  }

  .left-bottom-section {
    background: #1a1a1a;
    height: 100%;
    border-radius: 6px;
  }

  .library {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    margin-top: 11px;
  }

  .library-left {
    display: flex;
    column-gap: 12px;
  }

  .library-left p {
    font-size: 16px;
    font-family: circular-bold;
    color: rgb(179, 179, 179);
    display: flex;
    align-items: center;
  }

  .btn-and-cookie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 86%;
  }

  .left-btn-section {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0px 8px 8px;
    margin-top: 8px;
  }

  .button-section {
    border: 1px solid rgb(36, 36, 36);
    width: 404px;
    height: 134px;
    background: rgb(36, 36, 36);
    border-radius: 8px;
    padding: 15px 20px 16px 19px;
    margin: 8px 0px;
  }

  .button-section span {
    font-size: 16px;
    font-weight: 700;
    font-family: circular-bold;
  }

  .button-section p {
    font-size: 14px;
    font-family: circular-book;
    color: #fff;
    margin-top: 8px;
  }

  .btn {
    border: 1px solid #fff;
    background: #fff;
    width: fit-content;
    height: 32px;
    border-radius: 17px;
    margin-top: 20px;
  }

  .btn p {
    font-size: 14px;
    font-family: circular-bold;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    margin-top: 1px;
  }

  .left-bottom {
    display: flex;
    flex-direction: column;
  }

  .left-bottom span {
    padding: 0px 24px 0px 16px;
    font-size: 11px;
    font-weight: 400;
    font-family: circular-book;
    color: #b3b3b3;
    margin-bottom: 31px;
    transform: translateX(0px);
  }

  .language {
    border: 1px solid rgb(179, 179, 179);
    width: 95.86px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    margin-left: 24px;
    transform: translateY(2px);
  }

  .language img {
    width: 16px;
    height: 16px;
    transform: translateX(-3px);
  }

  .language p {
    font-size: 14px;
    color: #fff;
    font-family: circular-bold;
    display: flex;
    align-items: center;
  }

  .body-right {
    width: 58.45%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .body-right-top {
    display: flex;
    justify-content: space-between;
    padding: 23px 16.0755px;
  }

  .next-previous {
    display: flex;
    column-gap: 10px;
    margin-top: -30px;
    transform: translate(2px, 25px);
  }

  .previous,
  .next {
    border: 1px solid #222;
    border-radius: 15px;
    background: rgb(0, 0, 0, 0.7);
    padding: 5px;
    width: 30px;
    height: 30px;
  }

  .sign-log {
    display: flex;
    transform: translateX(-9px);
  }

  .sign-log span {
    font-size: 16px;
    padding: 8px 32px 8px 8px;
    transform: translate(27px, -5px);
    color: rgb(167, 167, 167);
    margin-right: 9px;
    margin-top: -5px;
    letter-spacing: 0.75px;
  }

  .log-btn {
    width: 108.38px;
    height: 48px;
    border: 1px solid #fff;
    background: #fff;
    padding: 8px 32px;
    border-radius: 23px;
    transform: translateY(-15px);
  }

  .log-btn p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: circular-bold;
    white-space: nowrap;
    transform: translateY(4px);
  }

  .playlist-and-all {
    margin-top: -22px;
    display: flex;
    justify-content: space-between;
  }

  .playlist-category {
    padding: 0px 8.0755px;
    background: #1a1a1a;
    height: 90.5%;
  }

  .playlist-and-all p {
    display: flex;
    color: #b3b3b3;
    font-family: circular-bold;
    font-size: 14px;
    transform: translate(-17px, 2px);
  }

  .body-section span {
    transform: translateX(8px);
  }

  .scroll-ele {
    overflow: hidden;
    width: 100%;
    margin-top: 38px;
    column-gap: 18px;
    padding-left: 8px;
  }

  .category {
    max-width: calc(100% / 3);
    height: 189.78px;
    flex-shrink: 0;
    height: 263.05px;
    width: 170.63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 8vw; */
    /* margin-right: 41px; */
  }

  .cate-img {
    width: 138.63px;
    height: 138.63px;
  }

  .category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .category p {
    margin-top: 16px;
    transform: translateX(-22px);
    font-family: circular-bold;
  }

  .top p {
    transform: translateX(-9px);
  }

  .rap p {
    transform: translateX(-31px);
  }

  .all p {
    transform: translateX(-19px);
  }

  .category span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-family: circular-book;
    color: #b3b3b3;
    margin-right: 39px;
    transform: translateX(16px);
    margin-top: 4px;
  }

  .footer-section {
    display: flex;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    height: 66px;
    margin: 0px 8px;
    justify-content: space-between;
    align-items: center;
    padding: 13px 24px 7px 15px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    transform: translateY(-2px);
  }

  .footer-left p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    font-family: circular-book;
    color: white;
  }

  .footer-left span {
    font-size: 16px;
    font-weight: 400;
    font-family: circular-book;
    color: #fff;
  }

  .footer-right {
    width: 178.86px;
    height: 48px;
    padding: 8px 32px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 25px;
    margin-top: -1px;
  }

  .footer-right span {
    display: flex;
    transform: translateY(4px);
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: circular-bold;
    white-space: nowrap;
    justify-content: center;
  }
}

/* RESPONSIVE ON 1440 */

@media screen and (min-width: 1440px) {
  .category {
    margin-right: 10px;
  }

  .body-section {
    height: 92.55%;
  }

  .btn-and-cookie {
    height: 88.92%;
  }

  .left-bottom span {
    margin-bottom: 32px;
  }

  .next-previous {
    padding-left: 7px;
  }

  .playlist-and-all {
    padding-left: 7px;
  }

  .scroll-ele {
    padding-left: 14px;
    column-gap: 14px;
  }

  .category p {
    transform: translateX(-19px);
    margin-top: 17px;
  }

  .top p {
    transform: translateX(-8px);
  }

  .rap p {
    transform: translateX(-31px);
  }

  .chill p {
    transform: translateX(-35px);
  }

  .chill span {
    margin-right: 20px;
  }

  .rock span {
    margin-right: 20px;
  }

  .footer-section {
    margin-right: 9px;
  }
}

/* RESPONSIVE ON 1845PX */

@media screen and (min-width: 1845px) {
  body {
    height: 99.37vh;
  }

  .home-and-search {
    padding: 16px 21px 15px;
  }

  .btn-and-cookie {
    height: 92.82%;
  }

  .left-bottom {
    transform: translateY(-36px);
  }

  .left-bottom span {
    margin-bottom: 31px;
  }

  .body-section {
    height: 92.85%;
  }

  .sign-log span {
    padding: 8px 31px 8px 8px;
  }

  .next-previous {
    padding-left: 8px;
  }

  .playlist-category {
    height: 93.5%;
  }

  .playlist-and-all {
    padding-left: 8px;
  }

  .scroll-ele {
    padding-left: 16px;
    column-gap: 17px;
  }

  .cate-img {
    width: 140.72px;
    height: 140.72px;
  }
}

/* RESPONSIE ON 2560 */

@media screen and (min-width: 2560px) {
  .body-right {
    width: 84%;
  }

  .category {
    width: 200.89px;
  }

  .playlist-and-all p {
    display: none;
  }

  .cate-img {
    width: 162px;
    height: 162px;
  }

  .category p {
    transform: translateX(-23px);
  }
}
